# Qt build files
build*/
*.pro.user
*.qmake.stash
*.qmake.cache

# Generated UI files
ui_*.h
moc_*.cpp
qrc_*.cpp

# Temporary files
*.autosave
*.bmp
*.obj
*.o
*.exe
*.dll
*.so
*.dylib
*.log

# IDE settings
.vscode/
.idea/
.cache/

# Debug/Release folders
debug/
release/
